#contact {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  height: 700px;
  color: var(--text);
}

#contact h1 {
  color: var(--text);
  z-index: 0;
  text-align: center;
  text-shadow: none;
}

#contact p {
  font-family: bahnschrift;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 800;
}

#contact button {
  font-family: Bahnschrift;
  margin-top: 20px;
  width: 40%;
  align-self: center;
  background-color: var(--accent);
  cursor: pointer;
}

#subject {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.selection {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.selection2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 40px;
  background-color: var(--secondary);
  margin-top: 20px;
  border-radius: 25px;
}

label {
  font-family: Verdana;
  font-weight: 300;
  padding-bottom: 8px;
}

input {
  padding: 15px;
  width: 96%;
  margin-bottom: 40px;
  border-radius: 10px;
}

textarea {
  padding: 15px;
  font-family: Verdana;
}

@media (max-width: 700px) {
  #contact h1 {
    padding: 20px;
  }

  .row {
    flex-direction: column;
  }

  .selection {
    width: 100%;
  }

  input {
    width: 100%;
  }
}
