.me {
  width: 80%;
  height: 480px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.desc {
  margin-top: 15px;
  font-size: 1.5rem;
  font-family: Bahnschrift;
  color: var(--text);
  padding: 20px 50px;
}

.vidiv {
  position: relative;
  border-radius: 40px;
  width: 40%;
  min-width: 200px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 40px var(--accent);
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

h1 {
  font-family: Neuropol;
  color: var(--title);
  font-size: 2em;
  text-shadow: 0 0 6px var(--title);
}

@media(max-width: 1000px){
    .me{
        width: 90%;
    }
}

@media (max-width: 700px) {
  .me {
    flex-direction: column;
    height: max-content;
    width: 100%;
    align-items: center;
  }
  .about {
    width: 80%;
  }
  .vidiv {
    margin-top: 40px;
    height: 480px;
    width: 80%;
    min-width: 200px;
  }
  main{
    width: 100%;
  }
}
