* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main: #0c090b;
  --text: #f9f6f8;
  --primary: #1f57ff;
  --secondary: #333333;
  --accent: #7047bd;
  --title: #ded13e;
}

.brand {
  display: flex;
  width: 60%;
}

.options {
  display: flex;
  align-items: center;
  font-family: Bahnschrift;
  color: var(--text);
  width: 40%;
}

.burger {
  display: none;
  font-size: 1.5em;
  width: 40%;
  color: var(--text);
  justify-content: center;
  align-items: center;
}

.burga {
  height: 0;
  background-color: var(--secondary);
  transition: 0.3s ease all;
}

.burga ul {
  display: none;
}

.burga.active {
  margin-top: 10px;
  display: flex;
  height: 60px;
  display: block;
  transform: translateY(0%);
}

.burga.active ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  width: 80%;
  padding-top: 5px;
}

nav {
  background-color: var(--main);
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  padding: 5px;
}

body {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

button {
  width: 100%;
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 15px 30px;
  border-radius: 5px;
  transition: 0.1s ease-out all;
}

button:hover {
  margin-top: -4px;
  background-color: var(--primary);
  box-shadow: 0 5px 20px var(--primary);
  cursor: pointer;
}

@font-face {
  font-family: Bahnschrift;
  src: url("/fonts/BAHNSCHRIFT.TTF");
}

@font-face {
  font-family: Cast;
  src: url("/fonts/Cast_Iron-Condensed.otf");
}

@font-face {
  font-family: Neuropol;
  src: url("/fonts/neuropol.otf");
}

@media (max-width: 1000px) {
  button {
    padding: 15px 15px;
  }
}

@media (max-width: 840px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .options {
    display: none;
  }
  .brand {
    margin-left: 10px;
  }
  .brand img {
    width: 170px;
  }
  .burger {
    display: flex;
  }
  .options {
    justify-content: center;
  }

  ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    font-family: Bahnschrift;
    color: var(--text);
    font-size: 0.8em;
    height: 40px;
    padding: 5px 8px;
  }

  button:hover {
    background-color: var(--primary);
    box-shadow: 0 5px 20px var(--primary);
    cursor: pointer;
  }
}
